@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Get To Know Joel!</h1>
<a href="https://baconsale.com/">
<img  src="~/img/BaconsaleKate.jpg" height="500" />
</a>
<div>
    <h2>Come see him preform!</h2>
    <br />
    <a href="https://www.qwcomedy.com/">Quick WIts Comedy</a>
</div>
<br />
<div>
    <h2>BaconSale site:</h2>
    <br />
    <a href="https://baconsale.com/">BaconSale</a>
</div>
