@{
    ViewData["Title"] = "Home Page";
}

<h1>The Joel Hilton Film Collection</h1>

<div>
    <p></p>
    <img src="~/img/joel2.jpeg" height="500" /><img src="~/img/image.png" height="500" />
</div>



